{
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 150,
  "arrowParens": "avoid",
  "semi": false,
  "useTabs": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "rangeStart": 0,
  "requirePragma": false,
  "insertPragma": false,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css"
}